.gifs {
    --gifs-block-width: 200px;
    --gifs-block-sharow-blur: 20px;

    position: fixed;
    top: var(--header-height);
    right: calc(-1 * (var(--gifs-block-width) + var(--gifs-block-sharow-blur)));
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
    width: var(--gifs-block-width);
    background-color: white;
    box-shadow: 0 0 var(--gifs-block-sharow-blur) 0 rgba(0, 0, 0, 0.3);
    padding: 15px;
    box-sizing: border-box;
    transition: right 300ms;
}

.gifs.active {
    right: 0;
}

.gifs-header {
    margin-top: 0;
}

.gifs-list {
    text-align: center;
    padding: 0;
    list-style: none;
}

.gifs-list > li > img {
    cursor: pointer;
}